.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form input, form button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

nav button {
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}