.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container div {
    max-width: 1024px;
}

form input, form button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

nav button {
    margin: 5px;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

.flex-item {
    max-width: 1000px;
}