@layer tailwind-base {
    @tailwind base;
}
  
@layer tailwind-utilities {
    @tailwind utilities;
    @tailwind variants;
}

.p-stepper-header {
padding: 0px;
overflow: hidden;
font-size: 0.85rem;
}

.p-stepper-panels {
padding: 0px;
padding-top: 20px;
}